DTD/Q01/Answer-q01.dtd

<!ELEMENT countries (country*)>
<!ATTLIST country name CDATA #REQUIRED> 
<!ATTLIST country population CDATA #REQUIRED>
<!ATTLIST country area CDATA #REQUIRED>
<!ELEMENT country (language | city)*>
<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage CDATA #REQUIRED>
<!ELEMENT city (name, population)>
<!ELEMENT name  (#PCDATA)>
<!ELEMENT population (#PCDATA)>